/* .birthday-container {
  text-align: center;
  padding: 100px 20px;
  background: radial-gradient(circle, #ffe7ba, #ffcccb);
  min-height: 100vh;
  color: #3e3e3e;
  font-family: 'Segoe UI', sans-serif;
}

/* h1 {
  font-size: 3rem;
  color: #d62828;
  margin-bottom: 20px;
  text-shadow: 2px 2px #fff;
} */

/* p {
  font-size: 1.5rem;
  margin: 10px 0;
}

h2 {
  margin-top: 40px;
  font-size: 2rem;
  color: #007f5f;
} */ 
